#nav a {
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  background-color: #a276fb;
  display: inline-block;
  border-radius: 5px;
}

#nav {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}
